<template>
        <div id="app" class="container-fluid">
    <div>
        <button  v-on:click="refil()">Start paring Site and refil DB</button>
        <GmapMap
                :center="{lat:10, lng:10}"
                :zoom="4"
                map-type-id="terrain"
                style="width: 1800px; height: 900px">
            <GmapMarker
                    :key="index"
                    v-for="(m, index) in markers"
                    :position="getPosition(m)"
                    :clickable="true"
                    :draggable="false"
                    :label="getTitle(m)"
                    @click="openWindow(m,index)"
            />

                    <gmap-info-window
                            :options="infoOptions"
                            :position="infoWindowPos"
                            :opened="infoWinOpen"
                            @closeclick="infoWinOpen=false">
                             {{infoContent}}
                        <ul>
                            <li v-for="m in markersInfo">{{m.name +" "+ m.cost +" "+ m.currency}}</li>
                        </ul>
                    </gmap-info-window>

        </GmapMap>

    </div>
        </div>
</template>

<script>
 //   src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js";
import http from "../http-common";
import {gmapApi} from 'vue2-google-maps';
import {GmapMarker} from 'vue2-google-maps/src/components/marker';
 import {GmapClaster} from '@google/markerclusterer';

import _ from 'lodash';
    export default {

        computed: {
            google: gmapApi,
                    },
        name: "markers",
        data() {
            return {
                center: null,
                markers: [],
                currentPlace: null,
                infoContent: '',
                infoWindowPos: null,
                infoWinOpen: false,
                currentMidx: null,
                markersInfo:[],
                markerclusterer:[],
                //optional: offset infowindow so it visually sits nicely on top of our marker
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                },
            };
        },
        methods: {
refil: function(){
    http
        .get("/savetest")
},
            generate: function () {
                http
                    .get("/markers")
                    .then(response => {
                        console.log(response);
                        this.markers = response.data; // JSON are parsed automatically.*/
                          })
                    .catch(e => {
                        console.log(e);
                    });

                var gMarkers = [];
                for( i = 0; i < this.markers.length-50; i++ )
                {
                    gMarkers.push(this.markers[i]);
                }
                var mcOptions = {
                    //imagePath: 'https://googlemaps.github.io/js-marker-clusterer/images/m',
                    styles:[{

                        url: "https://googlemaps.github.io/js-marker-clusterer/images/m1.png",
                        width: 53,
                        height:53,
                        fontFamily:"comic sans ms",
                        textSize:15,
                        textColor:"red",
                        //color: #00FF00,
                    }]};
              markerclusterer = new MarkerClusterer(google, gMarkers,mcOptions);
              console.log(markerclusterer);

                return markerCluster;
            },
            getTitle: function(marker) {
                return marker.route;
            },
            getPosition: function(marker) {
                return {
                    lat: parseFloat(marker.lng),
                    lng: parseFloat(marker.lat)
                }
            },

            openWindow: function(marker, idx) {
                console.log(marker);
                http.get("/markersInfo",{params:{route:marker.route}}).then(response => {
                        this.markersInfo = response.data; // JSON are parsed automatically.*/
                        console.log(this.markersInfo);
                    })
                    .catch(e => {
                        console.log(e);
                    });

                    this.infoWindowPos = {lat: parseFloat(marker.lng),lng: parseFloat(marker.lat)};
                    this.infoContent = marker.route;

                    //check if its the same marker that was selected if yes toggle
                    if (this.currentMidx == idx) {
                        this.infoWinOpen = !this.infoWinOpen;
                    }
                    //if different marker set infowindow to open and reset current marker index
                    else {
                        this.infoWinOpen = true;
                        this.currentMidx = idx;

                    }

            },

            refreshList() {
                this.generate();
            }
            /* eslint-enable no-console */
        },
        mounted() {
            this.generate();
        }
    };
</script>


<style>
    .site-info {
        color: blue;
        margin-bottom: 20px;
    }

    .btn-primary {
        margin-right: 5px;
    }

    .container-fluid {
        text-align: center;
    }
</style>
