<template>
<!--    <div id="app" class="container-fluid">-->

        <div id="example">
            <button v-on:click="greet">Greet</button>
        </div>

<!--<div>
    <GmapMap
            :center="{lat:10, lng:10}"
            :zoom="4"
            map-type-id="terrain"
            style="width: 1200px; height: 600px"
    >
        <GmapMarker
                :key="index"
                v-for="(m, index) in markers"
                :position="m.latLng"
                :clickable="true"
                :title="m.title"
                :draggable="true"
                @click="center=m.latLng"
        />
    </GmapMap>
</div>
    </div>-->
</template>

<script>
    new Vue({
        el: '#example',
        methods: {
            say: function (msg) {
                alert(msg)
                http
                    .get("/save")

            }
        }
    })
</script>


<!--<script>
import http from "../http-common";
import {gmapApi} from 'vue2-google-maps';
import {GmapMarker} from 'vue2-google-maps/src/components/marker';

import _ from 'lodash';
    export default {

        computed: {
            google: gmapApi
                    },
        name: "markers",
        data() {
            return {
                center: null,
                markers: [],
                currentPlace: null
            };
        },
        methods: {
            /* eslint-disable no-console */

            generate: function () {

                http
                    .get("/save")
                    .then(response => {
                        console.log(response.data);

                          this.markers = response.data; // JSON are parsed automatically.*/
                                console.log(this.markers);
                                this.markers.latLng = this.markers.lat;
                    })
                    .catch(e => {
                        console.log(e);
                    });
            },
            refreshList() {
                this.generate();
            }
            /* eslint-enable no-console */
        },
        mounted() {
            this.generate();
        }
    };
</script>-->


<!--

<script>

</script>
-->

<style>
.site-info {
  color: blue;
  margin-bottom: 20px;
}

.btn-primary {
  margin-right: 5px;
}

.container-fluid {
  text-align: center;
}
</style>
</body>

</html>